body{
  background-color: #393E46;
  margin:8px;
  display: block;
}

.container, .names-container{
  text-align: center;
  width: 70%;
  margin: auto;
}

.container h1{
  margin: 30px;
  margin-bottom: 5rem;
  font-family: lobster, cursive;
  text-shadow: 5px 0 black;
  font-size: 6rem;
  color: #4ECCA3;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.dice {
  text-align: center;
  display: inline-block;
  
}

img {
  width: 80%;
}

.btn{
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: .5rem 1.5rem;
  font-size: 2rem;
  font-family: indie flower, cursive;
  font-weight: 700;
  background-color: #4ECCA3;
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transition: .3s ease;

}

.btn:hover{
  color: white;
  transform: translateY(-5px);
  transition: .2s ease;
  }


.names-container{
  display:flex;
  justify-content: center;
}

.player-box {
  margin: 1.5rem;
  

 
}
.names-container label{
display: block;
width: auto;
font-family: indie flower, cursive;
color: #4ECCA3;
font-size: 1.5rem;
margin-bottom: .5rem;

}

input[type="text"] {
    font-size:1.5rem;
    text-align: center;
    font-family: indie flower;

}

.names-container input{
  width: 204px;
  height: 1.8rem;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);

  }

footer{
  margin-top:4%;
  color: #eeeeee;
  text-align: center;
  font-family: indie flower, cursive;
}

.name {
  padding: 0 1rem;
}